{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>传承人表格</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.3.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <script src="{% static 'plugins/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-5.3.0/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-5.3.0/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-color">
    <div class="container-fluid">
        <a class="navbar-brand">非物质文化遗产可视化平台</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cs' %}">首页</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true">
                        非遗名录
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'table1' %}">国家级非遗名录</a></li>
                        <li><a class="dropdown-item active" aria-current="page"
                               href="{% url 'table2' %}">国家级非遗项目传承人</a></li>
                        <li><a class="dropdown-item" href="{% url 'table3' %}">国家级非遗保护示范区</a></li>
                        <li><a class="dropdown-item" href="{% url 'table4' %}">中国入选联合国非遗项目</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cm' %}">非遗地图</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'wm' %}">联合国非遗</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="h30">国家级非物质文化遗产代表性项目代表性传承人</div>
    <div class="p"><p style="text-align:justify;text-indent:2em;">
        <br>
    </p>
        <p>
            非物质文化遗产是以其传承人的实践活动为主要载体的“活”的文化形态。确保非物质文化遗产的传承性，是《中华人民共和国非物质文化遗产法》所规定的非物质文化遗产保护工作重要原则之一。各级非物质文化遗产代表性传承人不仅肩负着延续传统文脉的使命，彰显着遗产实践能力的最高水平，还不断地将天才般的个性创造融入传承实践活动中，对确保非物质文化遗产的持久传承发挥着不可替代的作用。因此，保护代表性传承人是非物质文化遗产保护工作的重要内容。
        </p>
        <p>
            2007年、2008年、2009年、2012年、2018年，国家文化主管部门先后命名了五批国家级非物质文化遗产代表性项目代表性传承人，共计3068人。在非物质文化遗产代表性传承人动态管理和退出机制下，先后有11人失去国家级代表性传承人资格。截至2022年11月，国家级非物质文化遗产代表性传承人共3057人。

        </p>
        <p>
            <br>
        </p></div>
    <div class="s">
        <select id="gender" style="width: 15%;" class="shai">
            <option>性别</option>
            <option>男</option>
            <option>女</option>
        </select>
        <select id="category" style="width: 15%;" class="shai">
            <option>类别</option>
            <option>民间文学</option>
            <option>传统音乐</option>
            <option>传统舞蹈</option>
            <option>传统戏剧</option>
            <option>曲艺</option>
            <option>传统体育、游艺与杂技</option>
            <option>传统美术</option>
            <option>传统技艺</option>
            <option>传统医药</option>
            <option>民俗</option>
        </select>
        <select id="region" style="width: 15%;" class="shai">
            <option>所属地区</option>
            <option>北京市</option>
            <option>天津市</option>
            <option>河北省</option>
            <option>山西省</option>
            <option>内蒙古自治区</option>
            <option>辽宁省</option>
            <option>吉林省</option>
            <option>黑龙江省</option>
            <option>上海市</option>
            <option>江苏省</option>
            <option>浙江省</option>
            <option>安徽省</option>
            <option>福建省</option>
            <option>江西省</option>
            <option>山东省</option>
            <option>河南省</option>
            <option>湖北省</option>
            <option>湖南省</option>
            <option>广东省</option>
            <option>广西壮族自治区</option>
            <option>海南省</option>
            <option>重庆市</option>
            <option>四川省</option>
            <option>贵州省</option>
            <option>云南省</option>
            <option>西藏自治区</option>
            <option>陕西省</option>
            <option>甘肃省</option>
            <option>青海省</option>
            <option>宁夏回族自治区</option>
            <option>新疆维吾尔自治区</option>
            <option>香港特别行政区</option>
            <option>澳门特别行政区</option>
            <option>台湾省</option>
        </select>
        <button type="button" class="filter-submit shai">筛选</button>
        <button type="button" class="reset-filter shai">重置</button>
    </div>
    <table class="table" id="table-data">
        <thead>
        <tr>
            <th style="width: 15%">序号</th>
            <th style="width: 15%">姓名</th>
            <th style="width: 5%">性别</th>
            <th style="width: 5%">民族</th>
            <th style="width: 10%">类别</th>
            <th style="width: 10%">项目编号</th>
            <th style="width: 15%">项目名称</th>
            <th style="width: 25%">申报地区</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div class="xia">
        <span class="total"></span>
        <span class="current"></span>
        <input type="button" value="首页" id="bt1">
        <input type="button" value="上一页" id="bt2">
        <input type="button" value="下一页" id="bt3">
        <input type="button" value="尾页" id="bt4">
        <span>跳转至：</span>
        <input type="number" value="页数">
        <span>页</span>
        <button type="submit">跳转</button>
    </div>

</div>


<script src="{% static 'js/table2.js' %}"></script>

</body>
</html>